/*
 *  Licensed to the Apache Software Foundation (ASF) under one
 *  or more contributor license agreements.  See the NOTICE file
 *  distributed with this work for additional information
 *  regarding copyright ownership.  The ASF licenses this file
 *  to you under the Apache License, Version 2.0 (the
 *  "License"); you may not use this file except in compliance
 *  with the License.  You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing,
 *  software distributed under the License is distributed on an
 *  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 *  KIND, either express or implied.  See the License for the
 *  specific language governing permissions and limitations
 *  under the License.
 */
.buscarMedicamento {
	color: red;
	font-family: "italic";
	font-size: 13px;
	text-align: justify;
	text-transform: uppercase;
}
/*
*/
.headerContainer {
	background-image: linear-gradient(rgb(196, 218, 228), rgb(73, 130, 188));
	height: 130px;
	font: italic bold Georgia, serif;
	font-size: 20px
}

body {
	background: rgba(145, 195, 242, 1);
	background: -moz-linear-gradient(left, rgba(145, 195, 242, 1) 5%,
		rgba(145, 195, 242, 1) 45%, rgba(95, 161, 236, 1) 78%,
		rgba(95, 161, 236, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(5%, rgba(145, 195, 242,
		1)), color-stop(45%, rgba(145, 195, 242, 1)),
		color-stop(78%, rgba(95, 161, 236, 1)),
		color-stop(100%, rgba(95, 161, 236, 1)));
	background: -webkit-linear-gradient(left, rgba(145, 195, 242, 1) 5%,
		rgba(145, 195, 242, 1) 45%, rgba(95, 161, 236, 1) 78%,
		rgba(95, 161, 236, 1) 100%);
	background: -o-linear-gradient(left, rgba(145, 195, 242, 1) 5%,
		rgba(145, 195, 242, 1) 45%, rgba(95, 161, 236, 1) 78%,
		rgba(95, 161, 236, 1) 100%);
	background: -ms-linear-gradient(left, rgba(145, 195, 242, 1) 5%,
		rgba(145, 195, 242, 1) 45%, rgba(95, 161, 236, 1) 78%,
		rgba(95, 161, 236, 1) 100%);
	background: linear-gradient(to right, rgba(145, 195, 242, 1) 5%,
		rgba(145, 195, 242, 1) 45%, rgba(95, 161, 236, 1) 78%,
		rgba(95, 161, 236, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91c3f2',
		endColorstr='#5fa1ec', GradientType=1);
}

.entityActions .cssMenuPanel .menuh a:link, .entityActions .cssMenuPanel .menuh a:visited,
	.entityActions .cssMenuPanel .menuh a:active, .entityActions .cssMenuPanel .menuh p
	{
	color: #46423C;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.85em;
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5b2bdb
		), color-stop(1, #408c99));
	background: -moz-linear-gradient(top, #599bb3 15%, #408c99 90%);
	background: -webkit-linear-gradient(top, #599bb3 15%, #408c99 100%);
	background: -o-linear-gradient(top, #599bb3 15%, #408c99 100%);
	background: -ms-linear-gradient(top, #599bb3 15%, #408c99 100%);
	background: linear-gradient(to bottom, #599bb3 15%, #408c99 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3',
		endColorstr='#408c99', GradientType=1);
	background-color: #5b2bdb;
	-moz-border-radius: 42px;
	-webkit-border-radius: 42px;
	border-radius: 42px;
	display: inline-block;
	color: #000000;
	font-family: italic;
	font-size: 12px;
	font-weight: bold;
	padding: 30px 40px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #3d768a;
}

.entityTitle {
	color: #000000;
	font: italic bold Georgia, serif;
	font-size: 18px
}

.actionName {
	color: red;
	font: italic bold Georgia, serif;
	font-size: 20px
}

/******
BOTON GRIS
*************/
/* .btn { */
/* 	-moz-box-shadow: 0px 10px 6px -6px #1c1c1c; */
/* 	-webkit-box-shadow: 0px 10px 6px -6px #1c1c1c; */
/* 	box-shadow: 0px 10px 6px -6px #1c1c1c; */
/* 	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c6f70), color-stop(1, #aadee6)); */
/* 	background:-moz-linear-gradient(top, #6c6f70 5%, #aadee6 100%); */
/* 	background:-webkit-linear-gradient(top, #6c6f70 5%, #aadee6 100%); */
/* 	background:-o-linear-gradient(top, #6c6f70 5%, #aadee6 100%); */
/* 	background:-ms-linear-gradient(top, #6c6f70 5%, #aadee6 100%); */
/* 	background:linear-gradient(to bottom, #6c6f70 5%, #aadee6 100%); */
/* 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c6f70', endColorstr='#aadee6',GradientType=0); */
/* 	background-color:#6c6f70; */
/* 	-moz-border-radius:20px; */
/* 	-webkit-border-radius:20px; */
/* 	border-radius:20px; */
/* 	display:inline-block; */
/* 	cursor:pointer; */
/* 	color:#ff0000; */
/* 	font-family:Arial; */
/* 	font-size:11px; */
/* 	font-weight:bold; */
/* 	padding:8px 16px; */
/* 	text-decoration:none; */
/* 	text-shadow:0px 1px 0px #000000; */
/* } */
/* .btn:hover { */
/* 	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #aadee6), color-stop(1, #6c6f70)); */
/* 	background:-moz-linear-gradient(top, #aadee6 5%, #6c6f70 100%); */
/* 	background:-webkit-linear-gradient(top, #aadee6 5%, #6c6f70 100%); */
/* 	background:-o-linear-gradient(top, #aadee6 5%, #6c6f70 100%); */
/* 	background:-ms-linear-gradient(top, #aadee6 5%, #6c6f70 100%); */
/* 	background:linear-gradient(to bottom, #aadee6 5%, #6c6f70 100%); */
/* 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#aadee6', endColorstr='#6c6f70',GradientType=0); */
/* 	background-color:#aadee6; */
/* } */
/* .btn:active { */
/* 	position:relative; */
/* 	top:1px; */
/* } */
/*******************/
.modal-content {
	background: rgba(145, 195, 242, 1);
	background: -moz-linear-gradient(left, rgba(145, 195, 242, 1) 5%,
		rgba(145, 195, 242, 1) 45%, rgba(95, 161, 236, 1) 78%,
		rgba(95, 161, 236, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(5%, rgba(145, 195, 242,
		1)), color-stop(45%, rgba(145, 195, 242, 1)),
		color-stop(78%, rgba(95, 161, 236, 1)),
		color-stop(100%, rgba(95, 161, 236, 1)));
	background: -webkit-linear-gradient(left, rgba(145, 195, 242, 1) 5%,
		rgba(145, 195, 242, 1) 45%, rgba(95, 161, 236, 1) 78%,
		rgba(95, 161, 236, 1) 100%);
	background: -o-linear-gradient(left, rgba(145, 195, 242, 1) 5%,
		rgba(145, 195, 242, 1) 45%, rgba(95, 161, 236, 1) 78%,
		rgba(95, 161, 236, 1) 100%);
	background: -ms-linear-gradient(left, rgba(145, 195, 242, 1) 5%,
		rgba(145, 195, 242, 1) 45%, rgba(95, 161, 236, 1) 78%,
		rgba(95, 161, 236, 1) 100%);
	background: linear-gradient(to right, rgba(145, 195, 242, 1) 5%,
		rgba(145, 195, 242, 1) 45%, rgba(95, 161, 236, 1) 78%,
		rgba(95, 161, 236, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91c3f2',
		endColorstr='#5fa1ec', GradientType=1);
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	-webkit-box-shadow: 6px -1px 13px 1px rgba(0, 0, 0, 0.56);
	-moz-box-shadow: 6px -1px 13px 1px rgba(0, 0, 0, 0.56);
	box-shadow: 6px -1px 13px 1px rgba(0, 0, 0, 0.56);
	font-style: italic;
}

}
.actionPanel .myBlockContainer {
	background: rgba(145, 195, 242, 1);
	background: -moz-linear-gradient(left, rgba(145, 195, 242, 1) 5%,
		rgba(145, 195, 242, 1) 45%, rgba(95, 161, 236, 1) 78%,
		rgba(95, 161, 236, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(5%, rgba(145, 195, 242,
		1)), color-stop(45%, rgba(145, 195, 242, 1)),
		color-stop(78%, rgba(95, 161, 236, 1)),
		color-stop(100%, rgba(95, 161, 236, 1)));
	background: -webkit-linear-gradient(left, rgba(145, 195, 242, 1) 5%,
		rgba(145, 195, 242, 1) 45%, rgba(95, 161, 236, 1) 78%,
		rgba(95, 161, 236, 1) 100%);
	background: -o-linear-gradient(left, rgba(145, 195, 242, 1) 5%,
		rgba(145, 195, 242, 1) 45%, rgba(95, 161, 236, 1) 78%,
		rgba(95, 161, 236, 1) 100%);
	background: -ms-linear-gradient(left, rgba(145, 195, 242, 1) 5%,
		rgba(145, 195, 242, 1) 45%, rgba(95, 161, 236, 1) 78%,
		rgba(95, 161, 236, 1) 100%);
	background: linear-gradient(to right, rgba(145, 195, 242, 1) 5%,
		rgba(145, 195, 242, 1) 45%, rgba(95, 161, 236, 1) 78%,
		rgba(95, 161, 236, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91c3f2',
		endColorstr='#5fa1ec', GradientType=1);
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	-webkit-box-shadow: 6px -1px 13px 1px rgba(0, 0, 0, 0.56);
	-moz-box-shadow: 6px -1px 13px 1px rgba(0, 0, 0, 0.56);
	box-shadow: 6px -1px 13px 1px rgba(0, 0, 0, 0.56);
	font-style: italic;
}

.entityPropertiesPanel fieldset {
	background: rgba(145, 195, 242, 1);
	background: -moz-linear-gradient(left, rgba(145, 195, 242, 1) 5%,
		rgba(145, 195, 242, 1) 45%, rgba(95, 161, 236, 1) 78%,
		rgba(95, 161, 236, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(5%, rgba(145, 195, 242,
		1)), color-stop(45%, rgba(145, 195, 242, 1)),
		color-stop(78%, rgba(95, 161, 236, 1)),
		color-stop(100%, rgba(95, 161, 236, 1)));
	background: -webkit-linear-gradient(left, rgba(145, 195, 242, 1) 5%,
		rgba(145, 195, 242, 1) 45%, rgba(95, 161, 236, 1) 78%,
		rgba(95, 161, 236, 1) 100%);
	background: -o-linear-gradient(left, rgba(145, 195, 242, 1) 5%,
		rgba(145, 195, 242, 1) 45%, rgba(95, 161, 236, 1) 78%,
		rgba(95, 161, 236, 1) 100%);
	background: -ms-linear-gradient(left, rgba(145, 195, 242, 1) 5%,
		rgba(145, 195, 242, 1) 45%, rgba(95, 161, 236, 1) 78%,
		rgba(95, 161, 236, 1) 100%);
	background: linear-gradient(to right, rgba(145, 195, 242, 1) 5%,
		rgba(145, 195, 242, 1) 45%, rgba(95, 161, 236, 1) 78%,
		rgba(95, 161, 236, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91c3f2',
		endColorstr='#5fa1ec', GradientType=1);
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	-webkit-box-shadow: 6px -1px 13px 1px rgba(0, 0, 0, 0.56);
	-moz-box-shadow: 6px -1px 13px 1px rgba(0, 0, 0, 0.56);
	box-shadow: 6px -1px 13px 1px rgba(0, 0, 0, 0.56);
	font-style: italic;
}


.loginPanel {
	border-radius: 900px;
	height: 500px;
	border-radius: 800px 800px 800px 800px;
	width: 460px;
	padding: 46px;
	font-style: italic;
	border-radius: 53px 53px 53px 53px;
/* 	-moz-border-radius: 53px 154px 154px 53px; */
/* 	-webkit-border-radius: 53px 154px 154px 53px; */
	border: 9px solid #000000;
}

.panel-title {
	color: #000000;
	font: italic bold Georgia, serif;
	font-size: 22px
}

.panel {
	/* 	NARANJA */
	/* 	background: rgba(241, 231, 103, 1); */
	/* 	background: -moz-linear-gradient(left, rgba(241, 231, 103, 1) 19%, */
	/* 		rgba(241, 231, 103, 1) 49%, rgba(254, 182, 69, 1) 100%); */
	/* 	background: -webkit-gradient(left top, right top, color-stop(19%, rgba(241, 231, 103 */
	/* 		, 1)), color-stop(49%, rgba(241, 231, 103, 1)), */
	/* 		color-stop(100%, rgba(254, 182, 69, 1))); */
	/* 	background: -webkit-linear-gradient(left, rgba(241, 231, 103, 1) 19%, */
	/* 		rgba(241, 231, 103, 1) 49%, rgba(254, 182, 69, 1) 100%); */
	/* 	background: -o-linear-gradient(left, rgba(241, 231, 103, 1) 19%, */
	/* 		rgba(241, 231, 103, 1) 49%, rgba(254, 182, 69, 1) 100%); */
	/* 	background: -ms-linear-gradient(left, rgba(241, 231, 103, 1) 19%, */
	/* 		rgba(241, 231, 103, 1) 49%, rgba(254, 182, 69, 1) 100%); */
	/* 	background: linear-gradient(to right, rgba(241, 231, 103, 1) 19%, */
	/* 		rgba(241, 231, 103, 1) 49%, rgba(254, 182, 69, 1) 100%); */
	/* 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', */
	/* 		endColorstr='#feb645', GradientType=1); */
	/* 	VERDE OSCURO */
	/* 	background: rgba(98, 125, 77, 1); */
	/* 	background: -moz-linear-gradient(left, rgba(98, 125, 77, 1) 0%, */
	/* 		rgba(31, 59, 8, 0.4) 100%); */
	/* 	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(98, 125, 77, 1 */
	/* 		)), color-stop(100%, rgba(31, 59, 8, 0.4))); */
	/* 	background: -webkit-linear-gradient(left, rgba(98, 125, 77, 1) 0%, */
	/* 		rgba(31, 59, 8, 0.4) 100%); */
	/* 	background: -o-linear-gradient(left, rgba(98, 125, 77, 1) 0%, */
	/* 		rgba(31, 59, 8, 0.4) 100%); */
	/* 	background: -ms-linear-gradient(left, rgba(98, 125, 77, 1) 0%, */
	/* 		rgba(31, 59, 8, 0.4) 100%); */
	/* 	background: linear-gradient(to right, rgba(98, 125, 77, 1) 0%, */
	/* 		rgba(31, 59, 8, 0.4) 100%); */
	/* 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', */
	/* 		endColorstr='#1f3b08', GradientType=1); */
	/* 	VERDE MANZANA */
	background: rgba(210, 255, 82, 1);
	background: -moz-linear-gradient(left, rgba(210, 255, 82, 1) 0%,
		rgba(147, 230, 150, 1) 16%, rgba(147, 230, 150, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(210, 255, 82,
		1)), color-stop(16%, rgba(147, 230, 150, 1)),
		color-stop(100%, rgba(147, 230, 150, 1)));
	background: -webkit-linear-gradient(left, rgba(210, 255, 82, 1) 0%,
		rgba(147, 230, 150, 1) 16%, rgba(147, 230, 150, 1) 100%);
	background: -o-linear-gradient(left, rgba(210, 255, 82, 1) 0%,
		rgba(147, 230, 150, 1) 16%, rgba(147, 230, 150, 1) 100%);
	background: -ms-linear-gradient(left, rgba(210, 255, 82, 1) 0%,
		rgba(147, 230, 150, 1) 16%, rgba(147, 230, 150, 1) 100%);
	background: linear-gradient(to right, rgba(210, 255, 82, 1) 0%,
		rgba(147, 230, 150, 1) 16%, rgba(147, 230, 150, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52',
		endColorstr='#93e696', GradientType=1);
}

.btn {
	-moz-box-shadow: 0px 10px 14px -7px #739599;
	-webkit-box-shadow: 0px 10px 14px -7px #739599;
	box-shadow: 0px 10px 14px -7px #739599;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #919394
		), color-stop(1, #575757));
	background: -moz-linear-gradient(top, #919394 5%, #575757 100%);
	background: -webkit-linear-gradient(top, #919394 5%, #575757 100%);
	background: -o-linear-gradient(top, #919394 5%, #575757 100%);
	background: -ms-linear-gradient(top, #919394 5%, #575757 100%);
	background: linear-gradient(to bottom, #919394 5%, #575757 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#919394',
		endColorstr='#575757', GradientType=0);
	background-color: #919394;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Trebuchet MS;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	padding: 6px 25px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #000000;
}

.btn:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #575757
		), color-stop(1, #919394));
	background: -moz-linear-gradient(top, #575757 5%, #919394 100%);
	background: -webkit-linear-gradient(top, #575757 5%, #919394 100%);
	background: -o-linear-gradient(top, #575757 5%, #919394 100%);
	background: -ms-linear-gradient(top, #575757 5%, #919394 100%);
	background: linear-gradient(to bottom, #575757 5%, #919394 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757',
		endColorstr='#919394', GradientType=0);
	background-color: #575757;
}

.btn:active {
	position: relative;
	top: 2px;
}

.boton {
	-moz-box-shadow: 0px 10px 14px -7px #739599;
	-webkit-box-shadow: 0px 10px 14px -7px #739599;
	box-shadow: 0px 10px 14px -7px #739599;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #919394
		), color-stop(1, #575757));
	background: -moz-linear-gradient(top, #919394 5%, #575757 100%);
	background: -webkit-linear-gradient(top, #919394 5%, #575757 100%);
	background: -o-linear-gradient(top, #919394 5%, #575757 100%);
	background: -ms-linear-gradient(top, #919394 5%, #575757 100%);
	background: linear-gradient(to bottom, #919394 5%, #575757 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#919394',
		endColorstr='#575757', GradientType=0);
	background-color: #919394;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Trebuchet MS;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	padding: 6px 13px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #000000;
}

.boton:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #575757
		), color-stop(1, #919394));
	background: -moz-linear-gradient(top, #575757 5%, #919394 100%);
	background: -webkit-linear-gradient(top, #575757 5%, #919394 100%);
	background: -o-linear-gradient(top, #575757 5%, #919394 100%);
	background: -ms-linear-gradient(top, #575757 5%, #919394 100%);
	background: linear-gradient(to bottom, #575757 5%, #919394 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757',
		endColorstr='#919394', GradientType=0);
	background-color: #575757;
}

.boton:active {
	position: relative;
	top: 1px;
}

.modal-dialog {
	width: 40%;
}